<!DOCTYPE html>
<html>
  <head>
    <title>{{ title if title != None else 'PyMaps' }}</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        #map {
            height: {{ height }};
        }
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
  </head>
  <body>
    {% if title %}
        <h1>{{ title }}</h1>
    {% endif %}
    <div id="map">
      <!-- Map will be placed here -->
    </div>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: {{ zoom_start }},
                center: {{ location }},
                mapTypeId: '{{ map_type }}',
                streetViewControl: {{ show_pegman }},
                zoomControl: {{ show_zoom_control }},
                disableDefaultUI: {{ disable_default_ui }},
                {% if style %}
                  styles: {{ style }},
                {% endif %}
            });

            {% if children is not none %}
               // map markers
               {% if children.marker is defined %}
                 {% for marker in children.marker %}
                   {{ marker.html }}
                 {% endfor %}
               {% endif %}

               // fitBounds method
               {% if children.fitbounds is defined %}
                  {{ children.fitbounds[0].html }}
               {% endif %}

            {% endif %}
        };

      // Attaches an info window to a marker with the provided message
      function attachInfoWindow(marker, message) {
        var infowindow = new google.maps.InfoWindow({
          content: message
        });

        marker.addListener('click', function() {
          infowindow.open(marker.get('map'), marker);
        });
      };
    </script>

    <script async defer
     src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap">
    </script>
  </body>
</html>
